@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@layer utilities {
    @keyframes text-shine {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .inner-shadow {
        box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.06);
    }

    .inner-shadow:hover {
        box-shadow: 10px 10px 0 rgba(199, 126, 62, 0.06);
    }

}

body {
    font-family: Urbanist, Tahoma, Geneva, Verdana, sans-serif;
}

animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
}